
.container-header{
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 1%, rgba(136,255,217,1) 80%);
  box-shadow: 0px 2px 5px rgba(39, 39, 39, 0.6);  
}
.container-C{
  background-color: rgba(239, 236, 210, 1); ;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset; 
}
.container-button-C:hover{
  color: black;
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 1%, rgba(136,255,217,1) 80%);
}
.container-form{
background-color: rgb(243, 243, 243);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.container-title-C{
  margin-bottom: 0px;
  height: 1.5em;
  margin-top: 1.3em;
}






#menu-esc:hover{
  display: block;
}